@import url('https://at.alicdn.com/t/font_2448847_ogyed8on8j.css');

h1,h2,h3,h4,p,ul,li{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
body{
    font-size: 14px;
    font-family: '微软雅黑','Arial Narrow',Arial, Helvetica, sans-serif;
}